.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #121214;
  color: aliceblue;
}

.container h1 {
  color: blueviolet;
  margin-left: 4rem;
}

.products {
  align-items: center;
}

.products .add-button {
  padding: 0.5rem;
  border: 0;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: #7159c1;
  color: aliceblue;
  transition: background 0.3s;

  cursor: pointer;
}

.products .add-button:hover {
  background-color: blueviolet;
}

.failed-stock {
  color: red;
}
